# Soroban network configuration
STELLAR_NETWORK=futurenet
STELLAR_RPC_URL=https://rpc-futurenet.stellar.org
STELLAR_NETWORK_PASSPHRASE=Test SDF Future Network ; October 2022

# Deployed contract ID
CONTRACT_ID=CBAK7SEF7V6CHIZL4GJLJYEL44N3SIUMJXFFE7IGPLAXAR5MTLWFANRW

# Deployer key (optional, for contract deployment)
DEPLOYER_SECRET_KEY=
